<div class="container">
  <header>
    <h1>Tap Grub</h1>
    <form class="new-tap" ng-submit="addTap(newTap); newTap='';">
      <input ng-model="newTap" type="text"
            name="text" placeholder="Type to add new taps" />
    </form>
  </header>

  <ul ng-repeat='tap in taps'>
    <li ng-class="{'checked': tap.checked}">
      <button class="delete" ng-click="taps.remove(tap)">&times;</button>
      <input type="checkbox" ng-model="tap.checked" class="toggle-checked" />
      <span class="text"> {{tap.text}} </span>
    </li>
  </ul>
</div>